@import "~bootstrap/scss/bootstrap";

// Default variable overrides
$primary: #007ed3;
$secondary: #6c757d;
$success: #28a745;
$info: #17a2b8;
$warning: #ffc107;
$danger: #f04438;
$light: #f8f9fa;
$dark: #343a40;
$white: #fff;
$black: #000;
$gray-400: #9aa4b2;

$light-primary: #e0f5ff;
$light-secondary: #e2e3e5;
$light-success: #d4edda;
$light-info: #d1ecf1;
$light-warning: #fff3cd;
$light-danger: #fef3f2;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark,
  "white": $white,
  "black": $black,
);

// Required
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/maps";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/root";

// Optional Bootstrap components here
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/buttons";

//--------Card---------//
.card {
  border-radius: 8px !important;
  border-color: #e3e8ef;
}

//--------Button---------//
.btn {
  color: #fff !important;
  border-radius: 8px !important;
}

//--------Background---------//
.bg-light-primary {
  background-color: $light-primary !important;
}

.bg-light-danger {
  background-color: $light-danger !important;
}

//--------Font Color---------//
.text-gray-400 {
  color: $gray-400 !important;
}

// Styles for the span circle red custom component
.circle {
  border-radius: 50%;
  height: 8px;
  width: 8px;
  display: inline-block;
}

// Styles for the active tab custom component
.active-tab {
  background-color: $light-primary !important;
  border: $primary;
  color: $dark !important;
}
